.boton-burger:hover {
  background-color: #606c38;
}
.boton-burger {
  border-color: #606c38;
}
.principal {
  background-color: aquamarine;
}
header {
  background-color: #bc6c25;
}
#logo {
  background-color: #606c38;
  border-radius: 5px;
  padding: 8px;
}
